* {
    box-sizing: border-box;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}

html, body {

    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    & .bigger {
        font-size: 25px!important;
    }

    & .top-m {
        margin-top: 30px!important;
    }

}



.navbar {
    display: flex;
    flex-direction: row;
    background-color: #1a63ff;
    justify-content: space-around;
    & a {
        padding: 1.5em 2em;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 1.5px 1px rgba(134, 133, 133, 0.7);
        color: white;
    }
    
    .navbar-buttons {
        display: flex;
        
        * {
            
            border: none;
        }
    }
}



.main {

    .main-sidebar {
        padding: 50px;
    }
    
    .main-content {
        margin-right: auto;
    }
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:  #1a63ff;
    padding: 30px;

    & a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    .footer-links {

        a {
            justify-content: space-between;
            padding: 5px;
            margin: 5px;
        }

    }
}